*{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}
.header{
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png) ,url(../images/developer.png);
    background-repeat:  no-repeat;
    background-position: bottom right,left;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 150px;
  
}

nav ul {
    display: flex;
    align-items: center;
   
   
}

nav li{
    list-style: none;
    padding: 20px;
    font-weight: 400px;
   
  
}
.button-primary{
    border: 0px;
    padding: 18px 36px;
    height: 64px;
    background-color: #FD6E0A;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
}
.navtitle{
    width: 120px;
    height: 60px;
    font-weight: 800;
    font-size: 45px;
}


.orenge{
    color: #FD6E0A;
}

/* banner */

.banner{
    display: flex;
    align-items: center;
    margin: 0 50px 0 150px;
}

.banner-title{
    font-weight: 700;
    font-size: 85px;
    margin-bottom: 20px;
}
.banner-sub-title{
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 5px;
}
.paragraph{
    color: #757575;
    margin-bottom: 30px;
}
.hardy{
    width: 500px;
}
.button-contact{
    border: 0px;
    padding: 18px 36px;
    height: 64px;
    color: #FD6E0A;
    background-color: #FFF8F3;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    margin-left: 10px;

}